name: Stale

on:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  stale:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@5e8d0e6d1e76d8577a070db6d0128a91b1c9d5ad # 0.30.2
    permissions:
      issues: write
      pull-requests: write
